*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-image: url(img/todo.jpg);
    background-size: cover;
    
}


#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background-color:transparent;
    padding: 20px;
}

#to-do{
  
   width: 100%;
   max-width: 540px;
   /* background: #fff; */
   padding: 30px 50px 80px;
   border-radius: 20px;
   /* opacity: 0.6; */
   margin: 30px;
   
   
}

#to-do h2{
    color: #002765;    
    font-size: 2rem;
   
}
.row{
   
    /* justify-content: space-between; */
    border-radius: 30px;
    background: #edeef0;
    height: 10vh;
    padding: 20px;
    margin-bottom: 20px;
   display: flex;
}

#input-box{
    /* border-radius: 30px;
    height: 40px;
    width: 80%;
    font-size: 20px;
    font-family: "Caveat", cursive;
    font-weight: 700;
    border: none;
    outline: none;
    /* padding: 12px; */
    /* position: relative;
    top: -7px; */ 

    flex: 1;
    
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
}

input{
    background: transparent;
}
button{
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 20px;
    width:100px; 
    height:40px; 
    cursor: pointer;
    font-size:20px;
    font-family: "Caveat", cursive;
  
    
    
}




button:hover{
    background:blueviolet;
    transition: 0.4s;
}

ul li{
    list-style: none;
    font-family: "Caveat", cursive;
    font-size: 28px;
    padding: 10px;

    user-select: none;
    cursor: pointer;
    position: relative;
    margin: 10px;
}


ul li{
    background: #d0bdbf;
    border-radius: 20px;
}

ul li::before{
    content:"";
    position: absolute;
    height: 22px;
    width: 21px;
    background-image:url(img/checkbox-blank-circle-line.png) ;
    background-size: cover;
    top: 18px;
    left: -20px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/checkbox.png);
}

ul li span{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    /* top:2px; */
    font-weight:900;
    text-align: center;
    right: 0;
   margin-right: 10px;

}

ul li span:hover{
    background:red;
    border-radius: 50%;
}